/*Menu - navegación*/

.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 999;
    transition: all 0.5s ease;
}

.menu__scroll {
    background-color: #212529;
}

.menu .active {
    color: #BB001B;
}

.menu a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    transition-duration: 0.2s;
    color: #219ebc;
}


/*Visual*/

.visual {
    width: 100%;
    height: 600px;
    background-color: #212529;
}

.welcome {
    background: url('../images/bg.png') #212529;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
    width: 100%;
    height: 600px;
    position: absolute;
}


/*Welcome*/

.welcome__msg {
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
}

.space__div {
    width: 20%;
    height: 100%;
}


/*Foto*/

.profile__pic {
    width: 20%;
    height: 100%;
}

.foto {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.space__fot {
    width: 100%;
    height: 25%;
}

.prof__pic {
    width: 100%;
    height: 50%;
}

.prof__pic img {
    width: 100%;
    height: 90%;
    padding: 10px;
    vertical-align: auto;
    border-radius: 100%;
}


/*Presentación*/

.message {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.space__ver {
    width: 100%;
    height: 35%;
}

.presentation {
    width: 100%;
    height: 30%;
}

.home__title_primary,
.home__title_secondary,
.home__title,

/*Habilidades*/

.skill__icon,
.skill__title,
.skill__description {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
}

.home__title_primary,
.home__title_secondary {
    font-size: 30px;
    line-height: 10px;
    color: #fff;
}

.presentation .home__title {
    font-size: 38px;
    font-weight: bold;
    color: #219ebc;
}


/* CONTENIDO */

.content {
    margin-top: 60px;
}


/* ABOUT */


/*Descripcion*/

.about {
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.description {
    width: 50%;
    height: 600px;
    float: left;
}

.description p {
    font-family: 'Poppins', sans-serif;
}

.description__title {
    font-size: 34px;
    font-weight: bold;
}

.description__subtitle {
    font-size: 20px;
    font-weight: bold;
}

.description__content {
    width: 80%;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
}

.CV__button {
    width: 35%;
    height: 50px;
    margin-top: 30px;
    border-width: 1px;
    border-radius: 5px;
    background-color: #3464d4;
}

.CV__button:hover {
    background-color: #495057;
}

.CV__button .textButton {
    color: #fff;
    font-size: 16px;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.textButton .icon {
    margin-top: 2px;
    margin-right: 8px;
}


/*Conocimientos*/

.knowledge {
    width: 50%;
    height: 600px;
    float: left;
}

.my__knowledge {
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
}

.knowledge__div {
    width: 100%;
    height: 25%;
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.knowledge__element {
    width: 23%;
    height: 90%;
    margin: 10px;
}

.knowledge__div_2 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.knowledge__logo {
    width: 100%;
    height: 90%;
    padding: 10%;
    opacity: 0.8;
}

.knowledge__div_2 .knowledge__logo {
    width: 90%;
    height: 80%;
    padding: 10%;
}

.knowledge__logo:hover {
    opacity: 1;
    transition-duration: 0.5s;
    padding: 0;
}


/*Habilidades*/

.skills {
    width: 100%;
    margin-top: 40px;
}

.habilidades {
    width: 100%;
    height: 220px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.skill__element {
    width: 23%;
    height: 220px;
    margin-top: 15px;
}

.skill__icon {
    font-size: 34px;
}

.skill__title {
    font-size: 18px;
    font-weight: bold;
}

.skill__code {
    color: #073b4c;
}

.skill__design {
    color: #06d6a0;
}

.skill__db {
    color: #118ab2;
}

.skill__tec {
    color: #ef476f;
}


/*Trabajos*/

.trabajos {
    width: 100%;
    height: 500px;
    margin-top: 110px;
}

.infoSection {
    width: 100%;
    height: 18%;
}

.projects {
    width: 100%;
    height: 550px;
    margin-top: 5%;
}

.projects__row {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.first,
.sec,
.third,
.four {
    width: 25%;
    height: 100%;
}

.portfolio-item__subheader {
    font-size: 18px;
    color: #343a40;
    opacity: .8;
    padding-bottom: 2px;
}


/*Contacto*/

.contacto {
    width: 100%;
    height: 300px;
    margin-top: 375px;
}

.contacts {
    width: 100%;
    height: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.space {
    width: 20%;
    height: 85%;
}

.gmail,
.migit,
.linked {
    width: 20%;
    height: 85%;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

.img__net {
    display: flex;
    justify-content: center;
}

.action__net {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.link__net {
    font-size: 70px;
    text-align: center;
}

.contacto .contacts .gmail .link__net {
    color: #BB001B;
}

.contacto .contacts .migit .link__net {
    color: #171515;
}

.contacto .contacts .linked .link__net {
    color: #0072b1;
}

.contacto .contacts .gmail .link__net:hover,
.contacto .contacts .migit .link__net:hover,
.contacto .contacts .linked .link__net:hover,

/*Habilidades*/

.skill__code:hover,
.skill__design:hover,
.skill__db:hover,
.skill__tec:hover {
    transition-duration: 0.5s;
    color: #495057;
}


/*Pie de página*/

.footer {
    width: 100%;
    height: 70px;
    margin-top: 60px;
}

.footer .copy__r {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/*Responsive Design*/


/*Phones*/

@media (max-width: 575.98px) {
    html,
    body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    /*VISUAl */
    .visual {
        height: 200px;
        width: 100%;
        position: relative;
    }
    .welcome {
        width: 100%;
        max-height: 200px;
        height: 200px;
    }
    /*Menu - navegación*/
    .menu {
        display: none;
    }
    /*Welcome*/
    .welcome__msg {
        height: 180px;
    }
    .space__div {
        width: 10%;
    }
    .profile__pic {
        width: 30%;
    }
    .prof__pic img {
        width: 90%;
    }
    .message {
        width: 50%;
    }
    .presentation .home__title {
        font-size: 16px;
        line-height: 2px;
    }
    .home__title_primary,
    .home__title_secondary {
        font-size: 12px;
        line-height: 2px;
    }
    /* CONTENIDO */
    .content {
        margin-top: 20px;
    }
    /* ABOUT */
    /*Descripcion*/
    .about {
        height: 520px;
    }
    /*Descripcion*/
    .description {
        width: 100%;
        height: 220px;
    }
    .description__title {
        font-size: 16px;
        margin-bottom: 2px;
    }
    .description__subtitle {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 1px;
    }
    .description__content {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
    }
    .description__content .less_desc {
        display: none;
    }
    .CV__button {
        width: 30%;
        height: 30px;
    }
    .CV__button .textButton {
        padding-top: 5px;
        font-size: 12px;
    }
    /*Conocimientos*/
    .knowledge {
        width: 100%;
        height: 300px;
    }
    .my__knowledge {
        font-size: 16px;
        margin-bottom: 0;
        height: 10%;
    }
    .knowledge__div {
        margin-top: 0;
        height: 20%;
    }
    .knowledge__div_2 {
        height: 20%;
    }
    .knowledge__element {
        height: 100%;
    }
    .knowledge__logo {
        height: 100%;
    }
    .knowledge__div_2 .knowledge__logo {
        height: 100%;
    }
    /*Habilidades*/
    .skills {
        margin-top: 0px;
        height: 350px;
    }
    .habilidades {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .skill__element {
        width: 100%;
        height: 120px;
    }
    .skill__icon {
        font-size: 14px;
        line-height: 2px;
    }
    .skill__title {
        font-size: 14px;
        line-height: 2px;
    }
    .skill__description {
        font-size: 12px;
    }
    /*Trabajos*/
    .trabajos {
        margin-top: 20px;
        height: 270px;
    }
    .infoSection {
        height: 10%;
    }
    .projects {
        height: 220px;
    }
    /*Hover Proyecto*/
    .portfolio-item__header {
        font-size: 8px;
    }
    .portfolio-item__subheader {
        font-size: 8px;
    }
    /*Contacto*/
    .contacto {
        margin-top: 45px;
        height: 150px;
    }
    .contacts {
        margin-top: 40px;
    }
    .space {
        width: 5%;
    }
    .gmail,
    .migit,
    .linked {
        width: 30%
    }
    .link__net {
        font-size: 24px;
    }
    .action__net {
        font-size: 12px;
    }
    /*Pie de página*/
    .footer {
        margin-top: 8px;
    }
    .footer .copy__r {
        font-size: 8px;
    }
}