/*VISUAl */

.visual {
    width: 100%;
    height: 600px;
    background-color: #212529;
}

.welcome {
    background: url('../images/bg.png') #212529;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
    width: 100%;
    height: 600px;
    position: absolute;
}


/*Menu - navegación*/

.menu {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.menu a {
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

.menu a:hover {
    transition-duration: 0.2s;
    color: #219ebc;
}


/*Welcome*/

.welcome__msg {
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
}

.space__div {
    width: 20%;
    height: 100%;
}


/*Foto*/

.profile__pic {
    width: 20%;
    height: 100%;
}

.foto {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.space__fot {
    width: 100%;
    height: 25%;
}

.prof__pic {
    width: 100%;
    height: 50%;
}

.prof__pic img {
    width: 100%;
    vertical-align: auto;
    border-radius: 100%;
}


/*Presentación*/

.message {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.space__ver {
    width: 100%;
    height: 35%;
}

.presentation {
    width: 100%;
    height: 30%;
}

.presentation .home__title_primary,
.presentation .home__title_secondary {
    font-size: 30px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 10px;
}

.presentation .home__title {
    font-size: 38px;
    font-weight: bold;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #219ebc;
}


/* ARTICULOS */

.content {
    margin-top: 60px;
}


/* ABOUT */


/*Descripcion*/

.about {
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.desc {
    width: 50%;
    height: 600px;
    float: left;
}

.skills {
    width: 50%;
    height: 600px;
    float: left;
}

.desc p {
    font-family: 'Poppins', sans-serif;
}

.desc .title {
    font-size: 34px;
    font-weight: bold;
}

.desc .name {
    font-size: 20px;
    font-weight: bold;
}

.desc .texto {
    width: 80%;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
}

.desc .botonCV {
    width: 35%;
    height: 50px;
    margin-top: 15px;
    border-width: 1px;
    border-radius: 5px;
    background-color: #3464d4;
}

.desc .botonCV:hover {
    background-color: #495057;
}

.desc .botonCV .textButton {
    color: #fff;
    font-size: 16px;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.desc .botonCV .textButton .icon {
    margin-top: 2px;
    margin-right: 8px;
}


/*Skills*/

.skills .mySkills {
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
}

.skills .images1 {
    width: 100%;
    height: 35%;
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.skills .images1 .html,
.skills .images1 .css,
.skills .images1 .js {
    width: 30%;
    height: 90%;
    margin: 10px;
}

.skills .images2 {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
}

.skills .images2 .git,
.skills .images2 .github {
    width: 30%;
    height: 90%;
    margin: 10px;
}

.skills .images1 .html .logo,
.skills .images1 .css .logo,
.skills .images1 .js .logo {
    width: 100%;
    height: 90%;
}

.skills .images2 .git .logo,
.skills .images2 .github .logo {
    width: 100%;
    height: 90%;
    padding: 10%;
}

.skills .images1 .html .name,
.skills .images1 .css .name,
.skills .images1 .js .name,
.skills .images2 .git .name,
.skills .images2 .github .name {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}


/*Trabajos*/

.trabajos {
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

.descr p {
    font-family: 'Poppins', sans-serif;
}

.descr .title {
    font-size: 34px;
    font-weight: bold;
}

.descr .name {
    font-size: 20px;
    font-weight: bold;
}

.trabajos .descr {
    width: 100%;
    height: 18%;
}

.trabajos .projects {
    width: 100%;
    height: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.trabajos .projects .first,
.trabajos .projects .sec,
.trabajos .projects .third {
    width: 33.3%;
    height: 90%;
}

.trabajos .projects .first .imgPro,
.trabajos .projects .sec .imgPro,
.trabajos .projects .third .imgPro {
    width: 100%;
    height: 100%;
}


/*Contacto*/

.contacto {
    width: 100%;
    height: 300px;
    margin-top: 200px;
}

.contacto .redes {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.contacto .redes .space {
    width: 20%;
    height: 85%;
}

.contacto .redes .gmail,
.contacto .redes .migit,
.contacto .redes .linked {
    width: 20%;
    height: 85%;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

.contacto .redes .gmail .imagen,
.contacto .redes .migit .imagen,
.contacto .redes .linked .imagen {
    display: flex;
    justify-content: center;
}

.contacto .redes .gmail .linkRed,
.contacto .redes .migit .linkRed,
.contacto .redes .linked .linkRed {
    font-size: 70px;
    text-align: center;
}

.contacto .redes .gmail .logoRed {
    color: #BB001B;
}

.contacto .redes .migit .logoRed {
    color: #171515;
}

.contacto .redes .linked .logoRed {
    color: #0072b1;
}

.contacto .redes .gmail .logoRed:hover,
.contacto .redes .migit .logoRed:hover,
.contacto .redes .linked .logoRed:hover {
    transition-duration: 0.5s;
    color: #495057;
}

.contacto .redes .gmail .name,
.contacto .redes .migit .name,
.contacto .redes .linked .name {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}


/*Pie de página*/

.piePag {
    width: 100%;
    height: 70px;
    margin-top: 90px;
}

.piePag .copyr {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}